.layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background: linear-gradient(
    to top,
    #000 0%,
    #000 14%,
    rgb(0 0 0 / 94%) 22%,
    rgb(0 0 0 / 68%) 30%,
    rgb(0 0 0 / 24%) 38%,
    transparent 52%
  );
}

.floor {
  position: absolute;
  left: 50%;
  top: auto;
  bottom: calc(100vh * -0.17999924425634825);
  width: calc(100vw * 0.9799985532407407);
  height: auto;
  transform: translateX(-50%);
  opacity: 0.94;
  filter: contrast(1.22) brightness(1.08) saturate(1.05);
  user-select: none;
  -webkit-user-drag: none;
  -webkit-mask-image: linear-gradient(
    to top,
    rgb(0 0 0 / 98%) 0%,
    rgb(0 0 0 / 90%) 18%,
    rgb(0 0 0 / 66%) 30%,
    rgb(0 0 0 / 24%) 42%,
    transparent 54%
  );
  mask-image: linear-gradient(
    to top,
    rgb(0 0 0 / 98%) 0%,
    rgb(0 0 0 / 90%) 18%,
    rgb(0 0 0 / 66%) 30%,
    rgb(0 0 0 / 24%) 42%,
    transparent 54%
  );
}
